einops==0.8.0
local-attention==1.9.14
matplotlib
numpy<2
pandas==1.5.3
patool
reformer-pytorch==1.4.4
scikit-learn
scipy==1.10.1
sktime
sympy==1.11.1
torch==2.1.0
tqdm
PyWavelets
statsmodels
arch
nltk